<launch>

   <!-- Launch playpen world -->
    <include file="$(find turtlebot_gazebo)/launch/start_world.launch">
        <arg name="world_file" value="$(arg world)"/>
    </include>

    <!-- Launch localization package -->
    <include file="robot_pose_ekf.launch.xml">
        <arg name="use_vo" value="false" />
    </include>


    <!-- Launch Turtlebot -->
    <include file="$(find turtlebot_gazebo)/launch/put_robot_in_world.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <!-- Launch velocity smoother -->
    <include file="velocity_smoother.launch.xml" />
</launch>
